<ion-view class="login1" hid-back-button="true" title="Sign in">
  <!--<ion-nav-buttons side="right">-->
    <!--<a class="button button-clear" ui-sref="signup">Sign Up...</a>-->
  <!--</ion-nav-buttons>-->
  <ion-content>

    <div class="list page" id="list1">
      <form ng-submit="doLogin(user)">

        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="user.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password">
        </label>
        <button type='submit' class="button button-block button-calm" ng-disabled="!user.email||!user.password">Sign in</button>
      </form>


      <button class="button button-clear button-positive" ui-sref="signup">
        <b>Sign up here...</b>
      </button>

      <button class="button button-clear button-positive" ui-sref="home">
        <b>Home</b>
      </button>

    </div>


  </ion-content>
</ion-view>
